<!DOCTYPE html>
<html>
<head>
    <title>Resultado del Juego</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Resultado del Juego</h1>
            <p>{{ mensaje }}</p>
            {% if mensaje == "Incorrecto" %}
                <p>El título correcto era: {{ titulo_correcto }}</p>
            {% endif %}
            <form action="/" method="GET">
                <button type="submit" class="btn">Volver a jugar</button>
            </form>
        </div>
        <div class="footer">
            &copy; 2023 - <a href="https://github.com/MrDoiman">MrDoiman</a>
        </div>
    </div>
</body>
</html>
